.bg-color-portal
{
    background-color: #4097D8;
}

.bg-dropdown-Portal
{
    background-color: #1A5A82;
}

.table-Text-color-portal
{
    color: #4097D8;
    font-weight: 600;
}

.vertical-text-portal
{
    color: #4097D8;
    height: 100px;
    width: 10px;  
    transform: rotate(-90deg);
    padding-right: 180px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

table td
{
    padding: 0.20rem !important;
}

.Width-eighty-Portal
{
    max-width: 80px;
}

.fa-chevron-left{
    position: absolute;
    top: 11px;
    left: 6px;
    z-index: 111111111;
}
.fa-chevron-right{
    position: absolute;
    top: 11px;
   right: 6px;
    z-index: 111111111;
}
.padd-popup-portal{
    padding:0.5rem 0rem 0.5rem 10rem;
    background-color: white;
    border: 1px 1px 0px 1px solid lightgray;
}
.padd-popup-portal>div{
  padding: 0px 0px 0px 52px;
   
}



