.bg-color-portal
{
    background-color: #4097D8;
}

.bg-dropdown-Portal
{
    background-color: #1A5A82;
}





@media (min-width: 1100px)

/* {
    .input-Width-portal
    {
        max-width: 33% !important;
    }
} */